@import '../../styles/vars';

$headerHeight: 80px;

.header {
  height: $headerHeight;
  display: flex;
  
  .brand {
    color: white;
    background: $primary;
    height: $headerHeight;
    width: 140px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 16px;

    svg {
        fill: white;
        margin-right: 10px;
    }
  }

  .search {
    position: relative;
    box-shadow: 10px 0px 50px 0px rgba(0,0,0,0.15);
    width: calc(100vw - 140px);
    height: $headerHeight;
    background: url('/static/search.svg') 20px center no-repeat white;
    background-size: 30px 30px;

    input {
      border: none;
      width: 100%;
      height: $headerHeight;
      padding: 0 1.5rem;
      padding-left: 65px;
      font-size: 1.2rem;
      color: $dark;
      background: transparent;
      outline: none;
    }
  }
}